body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

/* NAVBAR */
.navbar {
    background: #0b1220;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;

    position: sticky;
    top: 0;

    z-index: 1000;
} 

.login-btn {
    background: #111827;
    color: white;
    border: 1px solid #2a2a2a;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 15px;
}
.login-btn:hover{
    background: #3583d1de;
    transform: translate(2px);
    box-shadow: 0 5px 10px rgba(76, 89, 232, 0.5);
}

/* HERO */
.hero {
    text-align: center;
    padding: 40px 20px;
}

/* FILTERS */
.filters {
    text-align: center;
    margin-bottom: 20px;
}

.filter-btn {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    background: black;
    color: white;
    transition: all 0.3s ease;
}

/* HOVER EFFECT */
.filter-btn:hover {
    background: #1f2933;
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);

}

/* EVENTS */
.events {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.event-card {
    background: white;
    width: 300px;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    transition: all 0.3s ease;
}

/* HOVER EFFECT */
.event-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.event-card img {
    width: 100%;
    border-radius: 10px;
}

/* DATE */
#date{
    color: cornflowerblue;
    margin-bottom: 10px;
}

/* Register */
#register{
    background-color:rgb(0, 132, 255);
    border-radius: 5px;
    margin-left: 90px;
    margin-bottom: 10px;
}

#register:hover{
    background-color: orange;
}

a{
    text-decoration: none;
    color: white;
}

/* FOOTER */
.footer {
    background: #0b1220;
    color: white;
    padding: 40px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: auto;
}

.footer-column {
    width: 300px;
    margin: 10px;
}

.footer h3 {
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.footer p {
    color: #cbd5f5;
    line-height: 1.6;
}

/* LOGO STYLE */
.footer-logo {
    font-weight: bold;
}

/* SOCIAL ICONS */
.social-icons a {
    color: white;
    text-decoration: none;
}

/* ICON SIZE */
.social-icons i {
    font-size: 18px;
    transition: all 0.3s ease;
}

/* HOVER EFFECT */
.social-icons span:hover i {
    transform: scale(1.2);
}